.box {
    /* width: 10em;
    height: 10em; */
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    /* initial style */
    position: relative;
    left: 0px;

    transition: all 0.5s ease;

    /* transform: rotate(45deg); */

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.box.changed {
    /* style after change */
    left: 200px;
    background-color: yellow;
    color: black;
    width: 5em;
    height: 20em;
    transform: rotate(45deg);
}